<!-- Form -->
<%= simple_form_for [current_user, @tweet], :html=> { class: "form-horizontal" } do |f| %>          
<% if @tweet.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

  <ul>
    <% @tweet.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>

<% end %>
<!-- New fruit -->

    <!--<div class="form-group">-->
        <%= f.label :message%>
      <!--<div class="col-sm-10">--><br>
        <%= f.input :message, input_html: {class: "textarea_tweet"}, placeholder: 'Your message', label: false %>
     <!-- </div> input_html: { class: "form-control" }, required: true
    </div>-->
    <br>
    <%= f.button :submit,  class: 'post_fruit', value: 'Créer un Tweet' %>
    <% end %>
    



