<h1>Liste de vos fruitos !</h1>
	<div>
		<div class="col1">
			<div class="profile_bloc">
				<div class="profile_bloc_pic"></div>
				<div class="profile_bloc_infos">
					<div class="profile_bloc_name">Thomas Lemée</div>
					<div class="profile_bloc_username">@thomlemee</div>
					<div class="profile_bloc_stat">
						<div class="profile_bloc_stat_label">Tweets</div>
						<div class="profile_bloc_stat_number">437</div>
					</div>
					<div class="profile_bloc_stat">
						<div class="profile_bloc_stat_label">Following</div>
						<div class="profile_bloc_stat_number">99</div>
					</div>
					<div class="profile_bloc_stat">
						<div class="profile_bloc_stat_label">Followers</div>
						<div class="profile_bloc_stat_number">1.5M</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col2">
			<div class="post_fruit">
				<textarea placeholder="What's up dude ?"></textarea>

				<input type="submit" value="Post a fruit" />
			
			</div>

			<div class="feed">
				<div class="tweet">
					<div class="tweet_pic1"></div>
					<span class="tweet_name">Le rigoleur fou</span><span class="tweet_username">@curtis</span><span class="tweet_date">13 min</span>
					<span class="tweet_content">Est-ce que nos petits enfants encartés au Front National se plaindront de leur vieil oncle végétarien qui fait des blagues écolos à Noël ?</span>

					<a href="#" class="tweet_retweet">2</a>
				</div>

				<div class="tweet">
					<div class="tweet_pic" style="background-image:url('https://scontent-cdg2-1.xx.fbcdn.net/hphotos-prn2/v/t1.0-9/1238185_10151898356135844_837607459_n.png?oh=05e6ab2963e738c6f73136216c3c5dea&oe=56DC7759')"></div>
					<span class="tweet_name">Babor le fan</span><span class="tweet_username">@baborlelefan</span><span class="tweet_date">53 min</span>
					<span class="tweet_content">kel ke soi lé élection, présidentiel, régional, délégué de classe, meilleur outil de jardinage, je vote François Bayrou, kestion de principe</span>

					<a href="#" class="tweet_retweet">25</a>
				</div>

				<div class="tweet">
					<div class="tweet_pic2"></div>
					<span class="tweet_name">Thomas</span><span class="tweet_username">@thomlem</span><span class="tweet_date">2 h</span>
					<span class="tweet_content">Bonjour, Thomas de la #RATP vous informe en temps réel sur l'état de votre ligne. Posez moi vos questions.</span>

					<a href="#" class="tweet_retweet">1.5k</a>
				</div>

				<div class="tweet">
					<div class="tweet_pic" style="background-image:url('https://pbs.twimg.com/profile_images/412355737516392450/1ctBGaEB_400x400.jpeg')"></div>
					<span class="tweet_name">PDG Rosana</span><span class="tweet_username">@pdgrosana</span><span class="tweet_date">13 nov.</span>
					<span class="tweet_content">"Respecter tout être vivant, est-ce un devoir moral ?" J'ai répondu magnésium et je suis parti. 20/20.</span>

					<a href="#" class="tweet_retweet">30</a>
				</div>

				<div class="tweet">
					<div class="tweet_pic" style="background-image:url('https://pbs.twimg.com/profile_images/445869330530459648/QJm-zXwe_400x400.jpeg')"></div>
					<span class="tweet_name">Alain Friedli</span><span class="tweet_username">@alainfriedli</span><span class="tweet_date">1 safar.</span>
					<span class="tweet_content">Des transformations paradigmatiques se mettent en place tous les deux ou trois ans. #uvde</span>

					<a href="#" class="tweet_retweet">2</a>
				</div>

			</div>
		</div>
	</div>

<br>
<!-- Action -->
<% if current_user == @user %>
  <%= link_to 'New fruit', new_user_tweet_path(current_user) %>
<% end %>
<br>
<br>
<br>
<br>  
<%= @tweets.find_each do |tweet| %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= link_to "#{tweet.user.username}".capitalize , user_path(tweet.user) %></h3> at <%= tweet.created_at %>
  </div>
  <div class="panel-body">
    <%= tweet.message %>
  </div>
</div>
<br>
<% end %>
