<h1>Liste de vos fruitos </h1>
<br>  
<%= @tweets.find_each do |tweet| %>
<div class="col2">
 <div class="feed"><!-- List-->
  <div class="tweet">
    <div class="tweet_pic1"><%= image_tag @user.avatar %></div>
    <span class="tweet_name"><%= link_to "#{tweet.user.username}".capitalize, user_path(tweet.user)%></span><span class="tweet_username">@curtis</span><span class="tweet_date"><%= time_ago_in_words tweet.created_at %></span>
    <span class="tweet_content" style="color: black;">
      <%= tweet.message %>
    </span>
    <a href="#" class="tweet_retweet">2</a>
  </div>
  <% end %>	
</div>
</div>
