<!-- <h2>Page de <%= @user.username %></h2> -->

<!-- Follow -->
<br>
<% if current_user != @user %>
  <% if current_user.follow?(@user) %>
    <%= link_to 'Unfollow', user_unfollow_path(@user), method: :post, class: "btn btn-warning" %>
  <% else %>
    <%= link_to 'Follow', user_follow_path(@user), method: :post, class: "btn btn-primary" %>
  <% end %>
  <% end %>
<br><br>


<!-- Stats -->
<div class="col-sm-2">
  <%= @user.username %> <br>
  Tweets : <%= @user.tweets.count %> <br>
  Following : <%= @user.following.count %> <br>
  Followers : <%= @user.followers.count %> 
</div>


<!-- List -->
<div class="col-sm-8">
<%= @tweets.find_each do |tweet| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= link_to "#{tweet.user.username}".capitalize , user_path(tweet.user) %></h3> 
      <span class="tweet-time-ago"><%= time_ago_in_words tweet.created_at %></span>
    </div>
    <div class="panel-body home-tweet-message">
      <%= tweet.message %>
    </div>
  </div>
  <br>
<% end %>
</div>


