<!-- Backgound -->
<% content_for :home do %>
<div class="melts">
	<div class="filtre"></div>	
</div>
<% end %>

<!-- Welcome -->
<div class="panel-body">
	<div class="title col-sm-6 col-sm-offset-2">
		<h1>Bienvenue sur Fruitter</h1>
	</div>
	<div class="intro col-sm-6 col-sm-offset-2">
		<p>Connectez-vous à vos amis — et d'autres personnes fascinantes. Recevez des mises à jour instantanées sur les choses qui vous intéressent. Et regardez les événements se dérouler, en temps réel, sous tous les angles.</p>
	</div>

	<br>

	<div class="col-sm-8 col-sm-offset-2 home-tweets-container">
		<h3>Plus de 5000 fruitos on déjà rejoints l'aventure !</h3>
		
		<h4>Ils ont fruité :</h4>
		<!-- Random tweets -->
		<% @random_tweets.each do |tweet| %>
		<!--<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><%= link_to "#{tweet.user.username}".capitalize , user_path(tweet.user) %></h3> 
				<span class="tweet-time-ago"><%= time_ago_in_words tweet.created_at %></span>
			</div>-->
				<div class="col2">
					<div class="feed"><!-- List-->
				        <div class="tweet">
				          <div class="tweet_pic1"></div>
				            <span class="tweet_name"><%= link_to "#{tweet.user.username}".capitalize, user_path(tweet.user)%></span><span class="tweet_username">@curtis</span><span class="tweet_date"><%= time_ago_in_words tweet.created_at %></span>
				            <span class="tweet_content" style="color: black;">
				              <%= tweet.message %>
				          </span>
				          <a href="#" class="tweet_retweet">2</a>
				        </div>
						<% end %>	
					</div>
				</div>
		<!--</div>-->
	</div>
</div>



