<!DOCTYPE html>
<html>
<head>
  <title>Twittyfruity</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <% if current_user.present? %>
    <%= link_to "Accueil", user_tweets_path(current_user) %> |
    <%= link_to "#{current_user.username}".capitalize , user_path(current_user) %> |
    <%= link_to "Log out", destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to "Connexion", new_user_session_path %>
    <%= link_to "Inscription", new_user_registration_path %>
  <% end %>
</nav>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= yield %>

</body>
</html>
